
.ul-menu{
    display: flex;  
    align-items: center; 
    justify-content: right;
}

.li-menu{
    list-style-type: none; 
    padding: 10px; margin: 8px; 
    font-weight: 600;
}

.li-menu:hover{
    background-color: rgb(178, 157, 134);
    transition: 0.25s ease-in-out;
    transition-delay: 0.1s;
    border-radius: 10px;
}

.a-menu{
    color: rgb(106, 86, 64); text-decoration: none; font-size: 20px;
}